body {
  width: 100%;
  margin: auto;
}
.container {
  width: 960px;
  margin: 0 auto; /*made it centered*/
}
.header {
  background: Thistle;
  width: 100%; 
  top: 0; /*gets rid of top margin*/
  position: fixed; /*makes top stay when scrolling*/
}
.logo {
  float: left; /*puts name to the left*/
  text-shadow: 1px 1px white;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  padding-top: 5px;
}
a {
  text-decoration: none; /*removes underline from hyperlink*/
  color: White;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}
li {
  list-style: none; /*removes bullets from list */
  float: left;
  margin-left: 25px; /* how far apart list items are*/
  padding-top: 30px; /* how far the list is from top of header */
}
.nav {
  float: right;
}
.content  {
  padding-top: 65px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-size: cover;
  width: 100%;
  background-color: #dfdce3;
  border: 1px solid #dfdce3;
  padding-bottom: 25px;
  padding-left: 60px;
}
.start {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding-top: 60px;
  text-align: center;
  
.homeimage { 
  background-image: url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");
  background-repeat: no-repeat;
  background-size:cover;
    
  top: 0;
  height: 740px;

  width: 100%;
  position: relative;
    overflow: hidden;
  }

