h1 {
  color: LightSeaGreen;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  padding-top: .5cm;
  background-image: url("http://www.bu.edu/today/wpassets/features/2014_groundbreakers/illustrations/grinstaff_illust_background.jpg");
  background-position: center center;
  text-transform: uppercase;
  background-size: cover;
  background-repeat:repeat-y;
  height: 300px;
  width: 100%;
}

.start {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

p {
  color: LightPink;
  background-color: LightSeaGreen;
}
