h1 {
  color: PaleTurquoise;
  text-shadow: 2px 2px white;
  font-size: 50px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  padding-top: .5cm;
  background-image: url("http://www.bu.edu/today/wpassets/features/2014_groundbreakers/illustrations/grinstaff_illust_background.jpg");
  background-position: center center;
  text-transform: uppercase;
  height: 100px;
  width: 100%;
}

.start {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
h2 {
  color: LightPink;
  font-size: 35px;
  font-weight: 200;
  background-color: PaleTurquoise;
}
p {
  color: White;
  background-color: PaleTurquoise;
  font-size: 30px;
}
