.content{
	width: 56%;
	margin-left: 22%;
	margin-bottom: 10%;
}
h1{
	font-weight: 500;
	margin-bottom: 10%;
	font-size: 35px;
}
h2{
	font-size: 35px;
	font-weight: 500;
	margin-bottom: 0px;
}
p{
	margin-top: 0px;
	font-size: 18px;
	line-height: 30px;
	color: #717578;
}
.flex-skills{
	display: flex;
}
.flex2{
	margin-left: 20%;
}
.education p{
	margin-bottom: 0px;
	line-height: 24px;
}
.cornell{
	color: white;
	padding-top: 10px;
}
