.content{
	margin-top: 15%;

	text-align: center;
}
.content h1{
	margin: 0 auto;
	font-weight: 500;
	font-size: 45px;
}
.faded {
	color: #717578;
}
.header #index-header-logo:hover{
	opacity: 1.0;
}
