.content{
	text-align: center;
	margin-top: 8%;
}
p{
	color: #717578;
}
.slideshow{
	margin: 0;
	margin-right: 0px;

}
.slideshow .mySlides{
	display: inline-block;
	margin: auto;
	padding: 0;
	width: 85%;
}
.slideshow img.arrow{
	width: 5%;
	display: inline-block;
	padding-bottom: 22%;
	cursor: pointer;
}
.slideshow .mySlides img{
	width: 100%;
}
.project-flex{
	display: flex;
	
	text-align: left;
	width: 90%;
	margin: 0 auto;

}
.about-flex{
	
	
}
.slideshow-flex{
	width: 99%;
	flex-grow: 2;

}
.content h2{
	font-weight: 400;
}