.content{
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}
p{
	color: #717578;
	line-height: 22px;
}
.slideshow{
	margin: 0;
	margin-right: 0px;
	display: inline-block;
	width:700px;
	margin-bottom: 80px;
}
.slideshow .allSlides{
	display: inline-block;
	margin: auto;
	padding: 0;
	width: 85%;
}
.slideshow img.arrow{
	width: 5%;
	display: inline-block;
	padding-bottom: 22%;
	cursor: pointer;
}

.slideshow .allSlides img{
	width: 100%;
}

.description{
	text-align: left;
	display: inline-block;
	width: 400px;
	
	vertical-align:top;
}

.content h2{
	font-weight: 400;
	margin-top: 0px;
}

.posters img{
	height: 400px;
	margin: 10px;
}
.posters a:hover{
	opacity: 0.7;
}
